@{
    ViewBag.Title = "Home";
}


<div class="jumbotron">
    <h1>Easy Learning App</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login to Begin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ADMIN DESK</h2>
        <p>
            This is a microsoft online interactive teaching and learning application software that is design to help
            the students learn online and submit their respective assignments.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>LECTURER'S PROFILE</h2>
        <p>
            This is the database of all the lecturers and the courses they offer in the various departments in CEET.
            It also covers the teachings/lectures taught by the lecturers.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STUDENT'S PROFILE</h2>
        <p>
            This is the database of all the students in engineering college and their courses. it also has a forum where students
            can interact with their lecturers via questions and answers. More studies can be downloaded by the students in respect to topics discussed by the lecturer.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>