<div class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs" style="margin-left:0px">
        ICT WORLD!!!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @System.DateTime.Now.Year   <a href="#"> Chiaghana Chukwunonso. E  </a> EasyLearning App.</strong> 
</div>