<div class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @System.DateTime.Now.Year   <a href="#">Olelewe Prince C  </a>OPCX</strong> All rights reserved.
</div>
